<%= form_with model: tweet do |form| %>

    <div class="field">
      <%= form.text_field :body, placeholder: "Remember to thing before write..."%>
    </div>

    <div>
    <%= link_to  "Cancel", :back %>
      <%= form.submit "Tweet", class: "button" %>
    </div>

<% end %>