/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css?family=Lato');
}
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}
body{
  margin: 0;
}
 .center{
  margin: auto;
  width: 600px;
  margin-bottom: 32px;
 }
 .notice{
  color: blue;
  margin: 0;
}
.alert{
  color: red;
  margin: 0;
 }
 .right{
   float: right;
 }
 .margin--no{
   margin: 0;
 }
 .flex{
   display: flex;
 }
 .flex--wrap{
   flex-wrap: wrap;
 }
 .flex--space{
   justify-content: space-between;
 }
 .flex--vertical--align{
   align-items: center;
 }
 .decoration--none{
   text-decoration: none;
 }
 .margin-top{
   margin-top: 8px;
 }
